<div class="banner">
  {% include banner.html %}
</div>

<header class="about-header">

  <nav>

    <div class="header-logo">

      <div class="header-logo-img">
        <a href="/"><img src="/images/logo.png" alt="100 Ways" title="Home"></a>
      </div>

      <div class="header-logo-text">
        <span class="header-logo-text">TO</span>&nbsp; Make Money Online &nbsp; &raquo; &nbsp; 
      </div>

    </div>

    <div class="header-nav">
      <a style="font-size: 0.75rem; text-transform: uppercase; margin-top: 1vh;" href="/make-money-online/" alt="100 ways to make money online" title="100 ways to make money online">Explore All {{ site.posts | size }} Ways
      </a>
      {% include nav-links.html %}
    </div>

  </nav>

</header>
