<div class="banner">
  {% include banner.html %}
</div>

<header class="landing-header">

  <nav>

    <div class="header-logo">

      <div class="header-logo-img">
        <a href="/"><img src="/images/logo.png" alt="100 Ways" title="Home"></a>
      </div>

      <div class="header-logo-text">
        <a href="/make-money-online/" alt="100 ways to make money online" title="100 ways to make money online">
          <span class="header-logo-text">TO</span>&nbsp; Make Money Online
        </a>
      </div>

    </div>

    <div class="header-nav">
      {% include nav-links2.html %}
    </div>

  </nav>

</header>
