<div class="header-form">

  {% include signup-header.html %}

</div>

<div class="header-social-links">
  <ul>
    <li><a href="https://twitter.com/100ways_to" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://instagram.com/100ways_to" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>

<!-- header form -->
<script src="//web.webformscr.com/apps/fc3/build/loader.js" sp-form-id="8098127ad40630969836b5ee745ef93a27a5a2b925f9e13efaea7d283d10d185"></script>
