<div class="card-hero" style="background-image:url({{ post.hero }})">
  <div class="card-title">
    <h2>{{ post.title }}</h2>
    <h3>{{ post.subtitle }}</h3>
  </div>

  <div class="card-hero-bottom">
    <div class="card-read-time">
    {% assign words = post.content | number_of_words %}
    {% if words < 360 %}
      1 min read
    {% else %}
      {{ words | divided_by:180 }} mins read
    {% endif %}
    </div>
    <div class="card-filters">
    <span class="card-filter-icon">{{ post.icon[0] }}</span>
    <span class="card-filter-icon">{{ post.icon[1] }}</span>
    <span class="card-filter-icon">{{ post.icon[2] }}</span>


    </div>
  </div>
</div>
