<div class="col col-sidebar">

  <div class="sidebar-content">
    <p><strong>Newly updated</strong></p>
      <ul>
        {% for post in site.posts reversed limit:10 %}
        <li><a href="{{ post.url }}">{{ post.title }} &gt;</a></li>
        {% endfor %}
      </ul>
  </div>

  <div class="sidebar-content">
    <p><strong>Follow <i>1</i><i class="fas fa-infinity"></i> Ways</strong></p>
    <ul>
      <li><a href="https://twitter.com/100ways_to" target="_blank">Twitter</a></li>
      <li><a href="https://instagram.com/100ways_to">Instagram</a></li>
      <li><a href="https://www.twitch.tv/poppacalypse" target="_blank">Hustle Buddy</a></li>
    </ul>
  </div>

  <div class="sidebar-content">
    <p><strong>Sponsor <i>1</i><i class="fas fa-infinity"></i> Ways</strong></p>
    <ul>
      <li><a href="https://www.buymeacoffee.com/carlpoppa" target="_blank">Future Cola <i class="fas fa-bolt"></i></a></li>
      <li>Sitewide</li>
    </ul>
  </div>

  <div class="sidebar-content">
    <p><strong>Resources</strong></p>
    <ul>
      <li>Archive</li>
      <li>Projects</li>
      <li>Colophon</li>
    </ul>
  </div>

  <div class="sidebar-content">
    <p><strong>Join {% include newsletter-subs.html %} HU$TLER$ getting one practical blueprint every week</strong>.
      <br>&nbsp;
      <ul>
        <li><i class="fas fa-check"></i> Tested methods</li>
        <li><i class="fas fa-check"></i> Practical hacks</li>
        <li><i class="fas fa-check"></i> Quick reads</li>
        <li><i class="fas fa-check"></i> Free, forever</li>
      </ul>

      <br><input type="email" placeholder="✉️  email@example.com" id="email" />
      <br><input type="submit" value="Fatten my wallet" id="submit" />

    </p>
  </div>

</div>
