<div class="col col-sidebar">
  <div class="sidebar-content">
    <p><strong>Join 175 HA¢K€R$ getting one actionable blueprint every week.</strong>
      <br>&nbsp;
      <ul>
        <li><i class="fas fa-check"></i> Real methods</li>
        <li><i class="fas fa-check"></i> 3 minute read</li>
        <li><i class="fas fa-check"></i> Practical hacks</li>
        <li><i class="fas fa-check"></i> &lt; 0.6% unsubscribe</li>
        <li><i class="fas fa-check"></i> Free, forever</li>
      </ul>
      <br>[ <i class="far fa-envelope"></i> your@bestemail.com ]
      <br><button>Fatten my wallet</button>
    </p>
  </div>

  <div class="sidebar-content">
    <ul><strong>Follow 100Ways</strong>
    <li><a href="https://twitter.com/100ways_to" alt="100Ways_to Twitter" title="100Ways_to Twitter"><i class="fab fa-twitter"></i> @100ways_to</a></li>
    <li><a href="https://www.instagram.com/100ways_to/" alt="100Ways_to Instagram" title="100Ways_to Instagram"><i class="fab fa-instagram"></i> @100ways_to</a></li>
    </ul>
  </div>

  <div class="sidebar-content">
    <p><strong>Top 5:</strong>
      {% include recent-posts.html %}
    </p>
  </div>

  <div class="sidebar-content">
    <a href="https://www.twitch.tv/poppacalypse"><i class="fab fa-twitch"></i></a>
  </div>

</div>
