---
layout: gallery
---

<div class="post">

  <div class="class page-hero-overlay">
    <div class="page-hero" style="background-image:url({{ page.hero }})">
      <div class="page-title">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.subtitle }}</h3></div>
    </div>
  </div>

  <article class="page">
    <header class="post-header">
      <div class="post-byline">
        <span class="post-filter">
          <a href="{{ base.url }}/make-money-online/{{ page.method[0] }}/" alt="{{ page.method[0] }}" title="{{ page.method[0] | capitalize }}">{{ page.icon[0] }}</a></span>

          <span class="post-filter"><a href="{{ base.url }}/make-money-online/{{ page.method[1] }}/" alt="{{ page.method[1] }}" title="{{ page.method[1] | capitalize }}">{{ page.icon[1] }}</a></span>

          <span class="post-filter"><a href="{{ base.url }}/make-money-online/{{ page.method[2] }}/" alt="{{ page.method[2] }}" title="{{ page.method[2] | capitalize }}">{{ page.icon[2] }}</a></span>

          by <span class="post-author"><a href="{{ page.authorTwitter }}" target="_blank">{{ page.author }}</a>
            &nbsp;
            <span class="post-read-time">
            {% assign words = content | number_of_words %}
            {% if words < 360 %}
              1min read
            {% else %}
              {{ words | divided_by:180 }}mins read
            {% endif %}
            </span>

            &nbsp;
            <span class="post-update">
            updated {{ page.date | date_to_long_string }}
            </span>

          </span>
      </div>
    </header>

    <aside class="post-aside">
      {% include recent-posts.html %}
    </aside>

    <div class="post-content">
      {{ content }}
    </div>

    <footer class="post-footer">
      {{ page.postFooter }}
    </footer>
  </article>
</div>
