---
layout: classic
---

<div class="post">

  <div class="page-hero" style="background-image:url({{ page.hero }})">
    <div class="page-title">
      <h2>{{ page.title }}</h2>
      <h3>{{ page.subtitle }}</h3>
    </div>

    <div class="page-hero-bottom">
      <div class="post-read-time">
      {% assign words = content | number_of_words %}
      {% if words < 360 %}
        1 min read
      {% else %}
        {{ words | divided_by:180 }} mins read
      {% endif %}
      </div>

      <div class="post-filters">
        {% assign speed = site.data.moneys[page.speed] %}
        <a href="{{ base.url }}{{ speed.path }}" alt="{{ speed.name }}" title="{{ speed.name }}"><span class="post-filter-icon">{{ speed.icon }}</span></a>

        {% assign way = site.data.moneys[page.way] %}
        <a href="{{ base.url }}{{ way.path }}" alt="{{ way.name }}" title="{{ way.name }}"><span class="post-filter-icon">{{ way.icon }}</span></a>

        {% assign earning = site.data.moneys[page.earning] %}
        <a href="{{ base.url }}{{ earning.path }}" alt="{{ earning.name }}" title="{{ earning.name }}"><span class="post-filter-icon">{{ earning.icon }}</span></a>
      </div>
    </div>
  </div>

  <article class="page">
    <header class="post-header">
      <div class="post-byline">
          by <span class="post-author"><a href="{{ page.authorTwitter }}" target="_blank"> {{ page.author }} <img src="{{ page.authorPic }}"></a>
          </span>
          <span class="post-update">
          updated {{ page.date | date_to_long_string }}
          </span>
      </div>
    </header>

    <aside class="post-aside-wrap">
      {% include aside.html %}
    </aside>

    <div class="post-content">
      {{ content }}
    </div>

    <footer class="post-footer">
      {{ page.postFooter }}
    </footer>
  </article>
</div>
