---
layout: gallery
---

<div class="post">

  <div class="class page-hero-overlay">
    <div class="page-hero" style="background-image:url({{ page.hero }})">
      <div class="page-title">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.subtitle }}</h3></div>
    </div>
  </div>

  <article class="page">
    <header class="post-header">
      <div class="post-byline">
          <a href="{{ base.url }}/make-money-online/{{ page.method[0] }}/" alt="{{ page.method[0] }}" title="{{ page.method[0] }}">{{ page.icon[0] }}</a> 
          &nbsp;
          <a href="{{ base.url }}/make-money-online/{{ page.method[1] }}/">{{ page.icon[1] }}</a> by <a href="{{ page.authorTwitter }}" target="_blank">{{ page.author }}</a>
      </div>
    </header>

    <aside class="post-aside">
      {% include recent-posts.html %}
    </aside>

    <div class="post-content">
      {{ content }}

      <div class="post-byline">
          <i class="fas fa-wave-square"></i> updated {{ page.date | date_to_long_string }}
      </div>
      <div class="page post-update"></div>
    </div>

    <footer class="post-footer">
      {{ page.postFooter }}
    </footer>
  </article>
</div>
