---
layout: gallery
---

<div class="post">

  <div class="page-hero" style="background-image:url({{ page.hero }})">
    <div class="page-title">
      <h2>{{ page.title }}</h2>
      <h3>{{ page.subtitle }}</h3>
    </div>

    <div class="page-hero-bottom">
      <div class="post-read-time">
      {% assign words = content | number_of_words %}
      {% if words < 360 %}
        1 min read
      {% else %}
        {{ words | divided_by:180 }} mins read
      {% endif %}
      </div>
      <div class="post-filters">

        <a href="{{ base.url }}/make-money-online/{{ page.method[0] }}/" alt="{{ page.method[0] }}" title="{{ page.methodName[0] }}"><span class="post-filter-icon">{{ page.icon[0] }}</span></a>

        <a href="{{ base.url }}/make-money-online/{{ page.method[1] }}/" alt="{{ page.method[1] }}" title="{{ page.methodName[1] }}"><span class="post-filter-icon">{{ page.icon[1] }}</span></a>

        <a href="{{ base.url }}/make-money-online/{{ page.method[2] }}/" alt="{{ page.method[2] }}" title="{{ page.methodName[2] }}"><span class="post-filter-icon">{{ page.icon[2] }}</span></a>
      </div>
    </div>
  </div>

  <article class="page">
    <header class="post-header">
      <div class="post-byline">
          by <span class="post-author"><a href="{{ page.authorTwitter }}" target="_blank"> {{ page.author }} <img src="{{ page.authorPic }}"></a>
          </span>
          <br>
          <span class="post-update">
          updated {{ page.date | date_to_long_string }}
          </span>
      </div>
    </header>

    <aside class="post-aside-wrap">
      <aside class="post-aside">
        {% include aside.html %}
      </aside>
    </aside>

    <div class="post-content">

      {% assign jk = site.data.moneys[page.jk] %}

      {{ jk.name }}
      {{ jk.icon }}

      <br>

      {% assign jk2 = site.data.moneys[page.jk2] %}

      {{ jk2.name }}
      {{ jk2.icon }}



      {{ content }}
    </div>

    <footer class="post-footer">
      {{ page.postFooter }}
    </footer>
  </article>
</div>
